*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --aqua: rgb(110, 190, 175);
    --blue: rgb(80, 115, 145);
    --dark-brown: rgb(195, 125, 70);
}

html {
    box-sizing: border-box;
    background:
            rgb(230, 195, 130)
            linear-gradient(to bottom right, rgb(230, 195, 130), rgb(195, 125, 70))
            no-repeat
            fixed
            center
            center;
}

body {
    display: flex;
    width: max(95vw, 390px);
    height: max(95vh, 600px);
    font-family: 'Original Surfer', sans-serif;
    justify-content: center;
    margin: 25px auto;
}

main {
    aspect-ratio: 4/7;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 12% 57% 10% 10%;
    margin: 0;
}

#titleArea {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    color: var(--blue);
    border-radius: 13%;
    background-color: rgb(60, 140, 150, 0.1);
    text-align: center;
    align-content: center;
    font-size: 1.1rem;
}

#board {
    aspect-ratio: 1;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
}

.tile {
    display: grid;
    color: whitesmoke;
    background-color: var(--aqua);
    border-radius: 13%;
    text-align: center;
    align-content: center;
    border: 1px solid var(--dark-brown);
    font-size: 3rem;
}

#infoArea {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-column-gap: 5%;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    align-content: center;
}

.button {
    display: grid;
    color: whitesmoke;
    background-color: var(--blue);
    border-radius: 13%;
    text-align: center;
    align-content: center;
    border: 1px solid var(--dark-brown);
    font-size: 1rem;
}

#messageArea {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    text-align: center;
    font-size: 1rem;
}


