*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    background-color: rgb(230, 195, 130);  /*fallback*/
    background: linear-gradient(to bottom right, rgb(230, 195, 130), rgb(195, 125, 70)) no-repeat center center fixed;
}

body {
    display: flex;
    height: 95vh;
    width: 58vh;
    font-family: 'Original Surfer', sans-serif;
    justify-content: center;
    margin: 25px;
}

main {
    aspect-ratio: 4/7;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 16% 60% 10% 10%;
    margin: 0;
}

#titleArea {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    color: rgb(80, 115, 145);
    border-radius: 13%;
    background-color: rgb(60, 140, 150, 0.1);
    text-align: center;
    align-content: center;
    font-size: 3.25vw;
}

#board {
    aspect-ratio: 1;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
}

.tile {
    display: grid;
    color: whitesmoke;
    background-color: rgb(110, 190, 175);
    border-radius: 13%;
    text-align: center;
    align-content: center;
    border: 1px solid rgb(195, 125, 70);
    font-size: 7vw;
}

#infoArea {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-column-gap: 5%;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    align-content: center;
}

.button {
    display: grid;
    color: whitesmoke;
    background-color: rgb(80, 115, 145);
    border-radius: 13%;
    text-align: center;
    align-content: center;
    border: 1px solid rgb(195, 125, 70);
    font-size: 3vw;
}

#messageArea {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    text-align: center;
    font-size: 3.5vw;
}


